@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  margin:0;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 12px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul{
  display: flex;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  padding: 10px;
}

a {
  text-decoration: none;
  color: rgb(161, 156, 156);
  font-weight: 700;
  
}

.header, .footer {
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  background-color: rgb(240, 240, 240);
  color:black;
  margin-top: auto;
  margin
}